---
import Profile from '../../assets/json/profile.js'
import EducationCard from '@components/education/EducationCard.astro'
import CardHeader from '@components/CardHeader.astro';
const { title, subtitle, items } = Profile.education.licences
---
<div id='licences-component' class='education-component bg-zinc-700 rounded p-8'>
    <CardHeader title={title} subtitle={subtitle} client:visible />
    <div class='grid lg:grid-cols-2 lg:grid-rows-1 grid-cols-auto grid-rows-2 gap-4 mt-5'>
        {
            items.map(licence => {
                return (
                    <EducationCard data={licence} client:visible/>
                )
            })
        }
    </div>
</div>