---
import Profile from '../../assets/json/profile.js'
import HardSkillsIcons from '@components/profile/HardSkillsIcons.astro'
import TogglerAngle from '@components/icons/TogglerAngle';

const { hardSkills } = Profile.profile
const mySelector = '#hardskills-component.profile-component'
---

<div id='hardskills-component' class='profile-component bg-white rounded p-8'>
    <div class='flex flex-col text-2xl'>
        <div class='flex justify-between'>
            <span>
                {hardSkills.title}
            </span>
            <span class='flex items-center'>
                <TogglerAngle elementToCloseSelector={mySelector} client:visible />
            </span>
        </div>
        <span class='text-gray-400 text-sm italic'>
            {hardSkills.subtitle}
        </span>
    </div>
    <HardSkillsIcons />
</div>