---
import Profile from '../../assets/json/profile.js'
import HardSkillsIcons from '@components/profile/HardSkillsIcons.astro'
import CardHeader from '@components/CardHeader.astro';

const { title, subtitle } = Profile.profile.hardSkills
---

<div id='hardskills-component' class='profile-component lg:col-auto col-span-2 bg-zinc-700 rounded p-8'>
    <CardHeader title={title} subtitle={subtitle} />
    <HardSkillsIcons />
</div>