---
import NavTop from "@components/NavTop.astro";
import NavLinks from "@components/NavLinks.astro";
import NavRRSS from "@components/NavRRSS.astro";
---

<nav class="flex flex-col justify-between items-center top-0 left-0 bg-zinc-700 fixed h-full w-[100px] py-3">
    <NavTop />
    <NavLinks />
    <NavRRSS />
</nav>
