---
import Profile from '../../assets/json/profile.js'
import Jobs from '@components/experience/Jobs.astro'

const { title } = Profile.experience
---

<section class='experience-component flex flex-col items-center w-full pb-10'>
    <div class='2xl:w-[70%] lg:w-[80%] w-[85%]'>
        <div class='flex flex-col pt-15 gap-4'>
            <h3 class='text-2xl'>
                Experience
            </h3>
            <Jobs />
        </div>
    </div>
</section>