---
const { role, company, howLong, description } = Astro.props.data
---

<article class='job-card flex flex-col leading-10 p-5 rounded overflow-hidden shadow-lg bg-white'>
    <div class='grid grid-rows-auto'>
        <div class='bg-zinc-500 text-center rounded'>
            <span class='text-lg text-white font-bold p-4'>
                {role}
            </span>
        </div>
        <div class='p-2'>
            <span class='font-bold'>Company:</span>
            <span class=''> {company}</span>
        </div>
        <div class='p-2'>
            <span class='font-bold'>How long:</span>
            <span class=''> {howLong}</span>
        </div>
        <div class='p-2'>
            <span class='font-bold'>Description:</span>
            <span class=''> {description}</span>
        </div>
    </div>
</article>