---
import Profile from '../../assets/json/profile.js'
import JobCard from '@components/experience/JobCard.astro'
import CardHeader from '@components/CardHeader.astro';
const { title, subtitle, jobs } = Profile.experience
---
<section id='experience-component' class='jobs-component bg-zinc-700 rounded p-8'>
    <CardHeader title={title} subtitle={subtitle} />
    <div class='grid lg:grid-cols-2 lg:grid-rows-1 grid-cols-auto grid-rows-2 gap-4 mt-5'>
        {
            jobs.map(study => {
                return (
                    <JobCard data={study} />
                )
            })
        }
    </div>
</section>